.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 290px;
  overflow: hidden;
  border-radius: 25px;
  border: 1px solid lavender;
  margin: 10px;
  box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1);
}

.card__image {
  position: relative;
  height: 140px;
}
.card__image > img {
  max-width: 100%;
  border-bottom-right-radius: 25px;
  transform: rotate(0deg) translate(-150px, -60px);
  position: absolute;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.card__info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0px 30px 20px 30px;
}
.card__info h3 {
  font-size: 18px;
  font-weight: 700;
}
.card__info p {
  font-size: 14px;
  font-weight: 600;
}
.card__info--price {
  text-align: right;
  color: orangered;
}

.card__info--price {
  text-align: right;
  color: orangered;
}

.food-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 0;
}
button{
  width: 90px;
  background-color: orangered;
  border-radius: 0%;
  color: white;
  font-size: medium;
  height: 30px;
  border-radius: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2b2626;
}

li {
  float: right;
  padding-right: 70px;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color:orangered;
}
